.metaisAlcalinos{
    background-color: #FF6B6B;
}

.metaisAlcalinoTerrosos{
    background-color: #FFA94D;
}

.metaisTransicao{
    background-color: #FFD43B;
}

.mataisPosTransicao{
    background-color: #69DB7C;
}

.Semimetais{
    background-color: #38D9A9;
}

.NaoMetaisPoliatomicos{
    background-color: #74C0FC;
}

.naoMetaisDiatomicos{
    background-color: #4DABF7;
}

.gasesNobres{
    background-color: #B197FC;
}

.desconhecidos{
    background-color: #ADB5BD;
}

.lantanideos{
    background-color: #F783AC;
}

.actinideos{
    background-color: #E64980;
}

